{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px" style="border: 2px solid red"></canvas>
</body>
<script>
    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    
    // Creating a user's unique color.
    function rainbow() {  // From stack exchange: https://stackoverflow.com/questions/1152024/best-way-to-generate-a-random-color-in-javascript
      // 30 random hues with step of 12 degrees
      var hue = Math.floor(Math.random() * 30) * 12;
      return {"hue": hue, "saturation": .9, "brightness": .6};
    };
    var userColor = rainbow();
    console.log("userColor hue: " + userColor.hue);
  
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    //console.log(url);
    // Read a page's GET URL variables and return them as an associative array.
    // From stackoverflow: https://stackoverflow.com/questions/4656843/jquery-get-querystring-from-url
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    };
    var size = getUrlVars().size;
    console.log("device size, from url: " + size);
  
    /* WebSockets */
    // create a new websocket connecting to the server
    var socket = new WebSocket('ws://p4-bryang001-bryang001606770.codeanyapp.com:8765/');
  
    // triggered when receiving a message from the server
    socket.onmessage = function(receivedMessage) {
      // do something when you receive a message: Draw the new circle.
      var messageObj = JSON.parse(receivedMessage.data); // the receivedMessage is an event; extract its data.
      if (size == "large"){
        var circle = new paper.Path.Circle(messageObj[1]);
      }
    };

    // notify console if socket closes unexpectedly
    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
  
    //code for drawing capability
    tool.maxDistance = 2;
    tool.onMouseDrag = function(event) {
      // Is this a small device? If so, we'll need to send the new circle to the large device.
      if (size == "small") {
        var circle = new paper.Path.Circle(event.middlePoint, 2);
	      circle.fillColor = new paper.Color(userColor);
        // use when sending a message to the server to be broadcasted to all clients.
        // Sent the latest circle.
        //console.log("JSON string of circle: " + JSON.stringify(circle));
        socket.send(JSON.stringify(circle)); 
      }
    }
    
</script>
</html>